# 编译生成的文件夹 (根据你的实际情况，通常以 build- 开头)
build-*/
build/
bin/

# Qt Creator 用户的本地配置文件 (非常重要，不要上传包含个人路径的 .user 文件)
*.pro.user
*.pro.user.*
*.creator.user.*

# 编译产生的临时文件
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.ncb
*.sdf
*.suo
*.pdb
*.idb

# Makefile
Makefile
Makefile.**.user
